
#desc {
    padding: 2%;
    padding-bottom: 50%;
    

    
}





.container {
    padding-top: 75%;
    padding-bottom: 1%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
